/*
	Minimal Flex
	a minimal template for layouts using the flexbox property implemented in the HTML5 Spec
	by Elvin Shawn Dsouza
	[30 Nov 2016]
*/


.container{
	display:flex;
	flex:1;
}

.table-container{
	overflow: scroll;
}

.col{
	flex-flow:row nowrap;
}

.row{
	flex-flow:column nowrap;
}

.wrap{
	flex-wrap: wrap;
}
.center-both{
	justify-content: center;
	align-items: center;
}

.center-vert{
	align-items: center;
}

.center-horz{
	justify-content: center;
}
.c0{
	flex:1;
}
.c1{
	flex:1;
}

.c2{
	flex:2;
}

.c3{
	flex:3;
}

.c4{
	flex:4;
}

.c5{
	flex:5;
}
.c6{
	flex:6;
}

.c7{
	flex:7;
}

.c8{
	flex:8;
}

.c9{
	flex:9;
}

.padding-20{
	padding:20px;
}


body{
	background:#ECEFF1;
	margin:0;
}


/*-------------------------------------------------------------------------------------*/
/*UI Elements*/
/*-------------------------------------------------------------------------------------*/

.card-input{
	border:0px;
	font-size:4em;
	padding:20px;
	border-radius: 2px;
	font-weight:200;
	color:#333;
	background:white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-appearance: none;
	appearance: none;
}

.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background:white;
}

/*form elements */

input[type="submit"]{
	background:#3F51B5;
	cursor: pointer;
	padding:10px 40px;
	font-size:1.2em;
	border-radius:3px;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:white;
	border:0px;

	-moz-appearance: none;
	appearance: none;
}

input[type="text"], input[type="password"], input[type="email"]
{
	margin-top:10px;
	font-size:2em;
	border-radius: 3px;
	border:0;
	 box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:10px;

}

.login-form input[type="submit"]
{
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	align-self: center;
	font-size:1.5em;
}

.login-form > img{
	width:100px;
	height:100px;
	align-self: center;
	margin-bottom:20px;
	background:#333;
	padding:15px;
	border-radius:50%;
}


#error{
	color:red;
	padding:10px;

}
.login-form > h1{
	font-weight:400;
	color:#333;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    margin:0px;
    padding:0px;
    outline: none;
    /*height: 25px; */
    background:transparent;
    /*background: #d3d3d3; */
    outline: none;
    /*opacity: 0.7; */
}

#sliderOut{
	font-size:1.2em;
	color:grey;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border:0;
    background: #3F51B5; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border:0;
    background: #3F51B5; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*filters and pagination*/

.history-filter{
	display:flex;
	font-size:1.2em;
	font-weight:300;
	align-items: center;
	cursor:pointer;
}


.history-filter > span{
		color:grey;
		padding:0px 5px;
}

.page-filter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-filter > div{
	width:10px;
	height:10px;
	border-radius:50%;
	background:grey;
	margin:0px 2px;
	cursor: pointer;
}

.page-filter > div.active{
	width:15px;
	height:15px;
	background:#3F51B5;
}

.history-filter > span.active{
	color:#3F51B5;
	font-size:1.3em;
}

/* notifications and toasts */
.toast{
 position: fixed;
 display: flex;
 width:100vw;
 justify-content: center;
 position: fixed;
 bottom: 20px;
 left:0;
}

.toast > div{
	background-color:#333;
 	color:grey;
 	font-size:1em;
 	padding:10px;
 	border-radius:50px;
}
/*buttons*/

.button{
	background:#3F51B5;
	cursor: pointer;
	padding:10px 40px;
	font-size:1.2em;
	border-radius:3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color:white;
	border:0px;
	-moz-appearance: none;
	appearance: none;
	margin-top:20px;
	padding-left:20px;
	padding-right:20px;
	align-self: center;
	font-size:1.5em;
	margin-left:10px;
}

.button-inverse
{
	background:white;
	color:#3F51B5;
	cursor: pointer;
	padding:10px 40px;
	font-size:1.2em;
	border-radius:3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/*color:white;*/
	border:0px;
	-moz-appearance: none;
	appearance: none;
	margin-top:20px;
	padding-left:20px;
	padding-right:20px;
	align-self: center;
	font-size:1.5em;
	margin-left:20px;
}

/*Title Bars*/
.title-bar{
	color:white;
	font-weight:300;
	background:#3F51B5;
	padding:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title-bar-stick{
	color:white;
	font-weight:300;
	background:#3F51B5;
	padding:10px;
	position: sticky;
	top:0;
	width:100vw;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.title-bar .main-heading > h1{
	font-weight:300;
	margin:0;
}

.title-bar-flat{
	color:#333;
	padding:5px;
}

.title-bar-huge{
	color:white;
	font-weight:300;
	background:#3F51B5;
	padding:10px;
	min-height:35vh;
}
.title-bar-huge  h1{
	font-weight:400;
	font-size:3em;
}

/*User Cards*/

.profile-card{
	margin-left:10vw;
}

.profile-card > section > img{
	margin:0;
}

.profile-card > section > div{
	padding:10px 30px 10px 0px;
	text-align: right;
}

.profile-card > section > div > h2{
	font-size:10em;
	margin:0;
	color:green;
	font-weight:300;
}

.profile-card > section > div > h5{
	font-size:1em;
	margin:0;
	color:grey;
	font-weight:300;
}

.profile-card > section > div > h1
{
	font-size:2.5em;
	font-weight:300;
	margin:2px;
}

.profile-card > section > div > h3
{
	font-size:2em;
	font-weight:300;
	margin:2px;
}

.profile-card > footer{
	background:#d35400;
	color:white;
	padding:10px;
}

header .icon{
	fill:white;
	width:20px;
	height:20px;
	padding:5px 10px;
	cursor: pointer;
}

.history-filter-vert{
	display:flex;
	flex-flow: column;
	font-size:2em;
	font-weight:300;
	align-items: center;
	cursor:pointer;
	margin-top:45px;
}



.history-filter > span{
	color:grey;
	padding:0px 5px;

}

.history-filter-vert > span.active{
	color:orange;
	font-size:1.3em;
	margin-bottom:10px;
}

/* tab naviagation */
.tab-container{
	display: flex;
	justify-content: flex-end;
	align-items:center;
}

.icon-download {
	fill: lightgrey;
	width: 20px;
	height: 20px;
	cursor: pointer;
	
}
.save-indicator{
	display:flex;

	align-items: center;
}

.save-indicator > .save-status{
	color:#3F51B5;
	color:gray;
	font-style: italic;
	padding:5px;
	margin-left:5px;
}


.tab{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background:white;
	margin:10px;
	color:#3F51B5;
	border-radius: 50px;
	padding:10px 20px;
	cursor: pointer;
}

.active-tab{
	color:#3F51B5;
	font-weight:500;

}

/* List Box */

.list-view{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background:white;
	width:50vw;height:70vh;
	border-radius:10px;
	margin:20px;
}

.list-view-plain{
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	/* background:white; */
	/* width:50vw;
	/* border-radius:10px; */
	height:80vh;
	overflow-y: scroll;
	margin:20px;
}

.list-item{
	/* height:1000px; */
}

/*PMS form styles*/
h1.inline-head{
	display:inline;
	margin:0;
}

span.profile-name
{
	font-weight:200;
	font-size: 1.2em;
}



.title-bar-huge  h2{
	font-weight:400;
	font-size:2em;
	margin-top:5vw;
}
.padding-left-10
{
	padding-left:10px;
}


.button-bar
{
	text-align: right;
}
.margin-10
{
	margin-top:2vw;
	margin-bottom:2vw;
}

.appraisal-criteria{
	color:#333;
	margin-right:10px;
	margin-top:5px;
	padding:0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	background:white;
	min-height:150px;
	/* border-radius:10px; */
	/* margin-bottom:10px; */
	padding-left:20px;
	border-radius:5px;
	
}

.appraisal-criteria  p{
	font-style: italic;

}
.app-child-container{
	display:none;
	flex-flow:column;
	/* flex:1; */
	
	padding:0px 0px;
	border-left: 1px solid #333;
	/* align-self: flex-start; */
	

}


.app-child-container > .appraisal-criteria{
	box-shadow: 0px 0px 0px transparent;
	border:0;
	padding-right:0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right:0px;
	/* border-bottom:1px solid */
	/* border: 1px solid lightgrey; */
	/* justify-content: center; */
	/* border:1px solid black; */

}
.app-child-container > .appraisal-criteria >header {
	
	margin: 0px 20px;
}

.app-child-container>.appraisal-criteria>header > h2 {
	font-size: 1.2em;
}
.appraisal-criteria>header.space-even {
	
	margin: 0px 20px;
}
.appraisal-criteria > header{
	
	margin-right: 50px;
}


.appraisal-criteria input[type='number']{
	background:white;
	appearance: none;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	border:0;
	justify-self: flex-end;
	padding:10px;
	color:#3F51B5;
	border:1px solid #3F51B5;
	border-radius:10px;
	text-align: right;
	width:60px;
	/* background:#cccc; */
}

.appraisal-heading{
	display: flex;
	align-items:center;
	padding:10px;
	max-width:80vw;

}

.appraisal-heading > h1{
	
	font-weight:400;
}
.appraisal-criteria > header > h2{
	color:#333;
	font-weight: 400;
	
	margin:0px;
}

.history-filter-vert-side{
	display:flex;
	flex-flow: column;
	font-size:2em;
	font-weight:300;
	align-items:flex-end;
	cursor:pointer;
	margin-top:45px;
}
.slider {
	-webkit-appearance: none;
	appearance: none;
    width: 100%;
    height: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
/**/
.view-bar
{
	padding:15px;
	color:white;
	font-size:1.5em;
}
