  /*
	Minimal Flex
	a minimal template for layouts using the flexbox property implemented in the HTML5 Spec
	by Elvin Shawn Dsouza
	[30 Nov 2016]
*/


.container{
	display:flex;
	flex:1;
}

.table-container{
	overflow: scroll;
}

.col{
	flex-flow:row nowrap;
}

.row{
	flex-flow:column nowrap;
}

.wrap{
	flex-wrap: wrap;
}
.center-both{
	justify-content: center;
	align-items: center;
}

.center-vert{
	align-items: center;
}

.center-horz{
	justify-content: center;
}
.c0{
	flex:1;
}
.c1{
	flex:1;
}

.c2{
	flex:2;
}

.c3{
	flex:3;
}

.c4{
	flex:4;
}

.c5{
	flex:5;
}
.c6{
	flex:6;
}

.c7{
	flex:7;
}

.c8{
	flex:8;
}

.c9{
	flex:9;
}

.padding-20{
	padding:20px;
}

  
  body{
            width:100vw;
            height:100vh;
            margin:0px;
            background:#3F51B5;
            color:white;
            display:flex;
            flex-flow:column;
            justify-content: center;
            align-items:center;

    }

        header{
            font-size:2em;
            text-align: center;
        }

        header > h1{
            font-size:2.1em;
            font-weight:500;
        }
        header > h3{
            font-size:1.5em;
            font-weight:300;
        }

        nav{
            margin-top:50px;
            display:flex;
            justify-content: center;
            align-items:baseline;
        }

        nav > div.nav-item{
            margin:0 50px;
            display: flex;
            flex-flow:column nowrap;
            justify-content:center;
            align-items: center;
            cursor:pointer;

        }

        div.nav-circ{
            width:100px;
            height:100px;
            background:white;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center
        }
        div.nav-circ > .icon{
            fill:#3F51B5;
            width:50px;
            height:50px;
        }
        div.nav-circ-dotted{
            width:100px;
            height:100px;
            background:transparent;
            border:3px dashed white;
            border-radius:50%;
            display: flex;
            justify-content: center;
            align-items: center
        }
        div.nav-circ-dotted > .icon{
            fill:white;
            width:50px;
            height:50px;

        }

    input[type="submit"]{
        background:#3F51B5;
        cursor: pointer;
        padding:10px 40px;
        font-size:1.2em;
        border-radius:3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        color:white;
        border:0px;

        -moz-appearance: none;
        appearance: none;
    }

    input[type="text"], input[type="password"], input[type="email"]
    {
        background:white;
        margin-top:10px;
        font-size:2em;
        border-radius: 3px;
        border:0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding:10px;

    }

    input[type="date"]{
        background:white;
        /* margin-top:10px; */
        flex:1;
        /* margin-right:10px; */
        font-size:2em;
        border-radius: 3px;
        border:0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        padding:10px;
    }
    /*buttons*/

.tab{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background:white;
	/* margin:10px; */
	color:#3F51B5;
	border-radius: 50px;
	padding:10px 20px;
	cursor: pointer;
}
select{
	background:white;
    /* margin-top:10px; */
    flex:1;
    /* margin-right:10px; */
    font-size:2em;
     border-radius: 3px;
    border:0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:10px;
	-moz-appearance: none;
	appearance: none;
}

.button{
	background:white;
	color:#3F51B5;
	cursor: pointer;
	padding:10px 40px;
	font-size:1.2em;
	border-radius:3px;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	/* color:white; */
	border:0px;
	-moz-appearance: none;
	appearance: none;
	margin-top:20px;
	padding-left:20px;
	padding-right:20px;
	align-self: center;
	font-size:1.5em;
	margin-left:10px;
}

.button-inverse
{
    color:white;
    background:transparent;
    border:2px dashed white;
	cursor: pointer;
	padding:10px 40px;
	font-size:1.2em;
	border-radius:3px;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
	/*color:white;*/
	/* border:0px; */
	-moz-appearance: none;
	appearance: none;
	margin-top:20px;
	padding-left:20px;
	padding-right:20px;
	align-self: center;
	font-size:1.5em;
	margin-left:20px;
}

.login-form input[type="submit"]
{
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	align-self: center;
	font-size:1.5em;
}

.login-form > img{
	width:100px;
	height:100px;
	align-self: center;
	margin-bottom:20px;
	background:#333;
	padding:15px;
	border-radius:50%;
}


#error{
	color:red;
	padding:10px;

}
.login-form > h1{
	font-weight:400;
	color:white;
}

.slider{
    display:flex; 
    position:absolute; 
    top:0px; 
    left:0px;
    margin-left:0px;
    transition:all 3s;
}

.step-two{
    margin-left:-100vw;
}